<div class="container pt-100">
    <div class="row no-gutters">
        <div class="col-md-8">
           <div *ngFor="let post of posts" class="article mb-2">
                <div class="headerCard d-flex justify-content-between p-2">
                  <div class="d-flex align-items-center">
                    <a href="">
                        <img src="{{post.user.picture.medium}}" alt="" class="profileImg mr-2">
                       </a>
                       <span>{{post.user.name.first}}  {{post.user.name.first}}</span>
                  </div>
                  <button class="btn p-0">
                      <img src="../../assets/img/svg/settings.svg" alt="">
                  </button>
                </div>
                <div>
                    <img class="imgPost" src="{{post.picture.download_url}}" alt="">
                </div>
                <div class="d-flex justify-content-between mt-2 p-2">
                   <div class="d-flex align-items-center">
                    <button class="btn p-0 mr-2">
                        <img src="../../assets/img/svg/like.svg" alt="">
                    </button>
                    <button class="btn p-0 mr-2">
                        <img src="../../assets/img/svg/comment.svg" alt="">
                    </button>
                    <button class="btn p-0">
                        <img src="../../assets/img/svg/share.svg" alt="">
                    </button>
                   </div>
                   <button class="btn p-0">
                       <img src="../../assets/img/svg/bookmark.svg" alt="">
                   </button>
                </div>
                <!-- <span>3,287 likes</span> -->
           </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
