/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
}
/* *************************************************font family*************************************************  */

body, button, input, textarea{
    font-family: -apple-system,BlinkMacSystemFont;
}

/* *************************************************Colors*************************************************  */

.blueColor{
    color: #385185;
}
/* *************************************************font sizes*************************************************  */
.f14{
    font-size: 14px;
}
.f12{
    font-size: 12px;
}
.f16{
    font-size: 16px;
}
.inheritWidth{
    width: inherit;
}